# База данных
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=videoscop
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# minio
API_KEY=your_api_key
API_SECRET=your_api_secret
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_EXPIRATION_DAYS=30

# JWT
JWT_SECRET_KEY=default
JWT_EXPIRATION_DAYS=30

# FastAPI
APP_ENV=development
APP_DEBUG=true
APP_PORT=3000
APP_TITLE=Videoscop
APP_VERSION=1.0
APP_DESCRIPTION=Videoscop API
APP_ALLOW_ORIGINS=*
APP_ALLOW_CREDENTIALS=true
APP_ALLOW_METHODS=*
APP_ALLOW_HEADERS=*
